/* === Base Styles === */
html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #212121;
  background: #f0f0ef;
}

@font-face {
  font-family: "Gord Qucik";
  src: url("/assets/GordQucik.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("/assets/Karla.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 48px;
  box-sizing: border-box;
  max-width: 2560px;
  margin: 0 auto;
  gap: 24px;
}
/* === Header === */
.work-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(240, 240, 239, 0.6); /* semi-transparent */
  backdrop-filter: blur(8px); /* blur effect */
  -webkit-backdrop-filter: blur(8px); /* for Safari */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

/* Back Button */
.back-Button:hover {
  transform: rotate(360deg);
  transition: transform 0.6s ease;
  object-fit: contain;
}

.back-Button:active {
  transition: transform 0.6s ease;
  border-radius: 120px;
  object-fit: contain;
}

.share-Button:hover {
  transform: rotate(360deg);
  transition: transform 0.4s ease;
  object-fit: contain;
}

.share-Button:active {
  transform: rotate(360deg);
  transition: transform 0.6s ease;
  border-radius: 120px;
  object-fit: contain;
}

.hidden {
  display: none !important;
}

/* === Toggle Tabs === */
.toggle-tab-wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  white-space: normal;
}

.toggle-tab {
  display: inline-flex;
  background: #ffffff;
  border-radius: 999px;
  padding: 8px;
  gap: 8px;
}

.tab-button {
  border: none;
  background: transparent;
  padding: 8px 16px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #212121;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tab-button img {
  width: 16px;
  height: 16px;
}

.tab-button.active {
  background: #f0f3f7;
  border: 2px solid #e5e5e5;
  font-weight: 600;
}

.title-label {
  font-family: "Gord Qucik", sans-serif;
  font-size: 24px;
  color: #3a4e7a;
  display: inline-block;
  width: auto !important;
}

.text-content {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  border: 2px solid #ffffff60;
}

.summary-section {
  display: flex;
  flex-direction: column;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.point-label {
  font-weight: 600;
}

.time-label {
  font-weight: 600;
  color: #828282;
}

.description-point {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.education-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#about-content {
  background-color: #fff;
  display: flex;
  width: 100%;
  border-radius: 16px;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image {
  position: relative;
  max-width: 568px;
  top: -200px;
  height: auto;
  display: block;
  border: none;
  z-index: 3;
}

.hey-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.heytitle {
  font-size: 24px;
}

#toast {
  visibility: hidden;
  min-width: 120px;
  background-color: #3a4e7a;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

#toast.show {
  visibility: visible;
  opacity: 1;
}

.aboutmain-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  max-width: 1440px; /* or your desired container size */
  margin: 0 auto;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: white;
}

.cardtitle {
  font-size: 16px;
}

.text-inside {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blief-card {
  position: relative;
  left: -35%;
  right: 0;
  top: 150px;
  margin: 0 auto;
  transform: rotate(-2deg);
  width: 310px;
  max-width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #ffafa3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 2;
  box-sizing: border-box;
}

.service-card {
  position: relative;
  right: -35%;
  top: 0px;
  margin: 0 auto;
  transform: rotate(4deg);
  width: 340px;
  max-width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #a4edb2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 2;
  box-sizing: border-box;
}

.design-card {
  position: relative;
  left: -33%;
  right: 0;
  top: -280px;
  margin: 0 auto;
  transform: rotate(2deg);
  width: 380px;
  max-width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #7fc9fe;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 2;
  box-sizing: border-box;
}

.contact-card {
  position: relative;
  right: -35%;
  top: -420px;
  margin: 0 auto;
  width: 320px;
  max-width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #ffc470;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 2;
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Karla", sans-serif;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}

.contact-row img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.contact-row a {
  color: #212121;
  text-decoration: underline;
}
.easter-text {
  color: #e5e5e5;
}

@media (min-width: 1025px) and (max-width: 1155px) {
  .blief-card {
    position: relative;
    left: -35%;
    right: 0;
    top: 150px;
    margin: 0 auto;
    transform: rotate(-2deg);
    width: 270px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #ffafa3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }

  .service-card {
    position: relative;
    right: -35%;
    top: 0px;
    margin: 0 auto;
    transform: rotate(4deg);
    width: 280px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #a4edb2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }

  .design-card {
    position: relative;
    left: -35%;
    right: 0;
    top: -350px;
    margin: 0 auto;
    transform: rotate(2deg);
    width: 300px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #7fc9fe;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }

  .contact-card {
    position: relative;
    right: -35%;
    top: -450px;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #ffc470;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }
}

/* === Responsive Styles === */
@media (max-width: 1024px) {
  .main-content {
    padding: 24px;
  }

  .work-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(240, 240, 239, 0.6); /* semi-transparent */
    backdrop-filter: blur(8px); /* blur effect */
    -webkit-backdrop-filter: blur(8px); /* for Safari */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
  }
  #about-content {
    background-color: #fff;
    display: flex;
    width: 100%;
    border-radius: 24px;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .about-image {
    position: relative;
    max-width: 600px;
    top: -200px;
    height: auto;
    display: block;
    border: none;
    z-index: 3;
  }

  .blief-card {
    position: relative;
    left: -25%;
    right: 0;
    top: 80px;
    margin: 0 auto;
    transform: rotate(-4deg);
    width: 310px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #ffafa3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }

  .service-card {
    position: relative;
    right: -25%;
    top: -128px;
    margin: 0 auto;
    transform: rotate(4deg);
    width: 310px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #a4edb2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }

  .design-card {
    position: relative;
    left: -25%;
    right: 0;
    top: -260px;
    margin: 0 auto;
    transform: rotate(2deg);
    width: 300px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #7fc9fe;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }

  .contact-card {
    position: relative;
    right: -25%;
    top: -460px;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #ffc470;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
    box-sizing: border-box;
  }
}

@media (max-width: 640px) {
  .aboutmain-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .back-Button {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .share-Button {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .work-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(240, 240, 239, 0.6); /* semi-transparent */
    backdrop-filter: blur(8px); /* blur effect */
    -webkit-backdrop-filter: blur(8px); /* for Safari */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
  }

  .tab-button {
    font-size: 12px;
  }

  .text-content {
    padding: 16px;
  }

  #about-content {
    background-color: #fff;
    display: flex;
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .about-image {
    top: 0; /* Cancel the -200px offset */
    margin-bottom: 16px; /* Optional spacing below image */
    max-width: 350px;
  }
  .description {
    font-size: 12px;
  }

  #toast {
    min-width: 75%;
    font-size: 12px;
  }

  .about-image {
    order: 1;
  }

  .blief-card {
    order: 2;
  }

  .service-card {
    order: 3;
  }

  .design-card {
    order: 4;
  }

  .contact-card {
    order: 4;
  }

  .blief-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .design-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .contact-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .easter-text {
    display: none;
  }
}
