/* === Base Styles === */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #212121;
  background: #f0f0ef;
}

@font-face {
  font-family: "Gord Qucik";
  src: url("/assets/GordQucik.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("/assets/Karla.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 48px;
  box-sizing: border-box;
  max-width: 2560px;
  margin: 0 auto;
  gap: 24px;
}

/* === Header === */
.work-bar {
  max-width: 2560px;
  background-color: #f0f0ef;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
}

/* Back Button */
.back-Button:hover {
  transform: rotate(360deg);
  transition: transform 0.6s ease;
  object-fit: contain;
}

.back-Button:active {
  transition: transform 0.6s ease;
  border-radius: 120px;
  object-fit: contain;
}

.share-Button:hover {
  transform: rotate(360deg);
  transition: transform 0.4s ease;
  object-fit: contain;
}

.share-Button:active {
  transform: rotate(360deg);
  transition: transform 0.6s ease;
  border-radius: 120px;
  object-fit: contain;
}

/* === Toggle Tabs === */
.toggle-tab-wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  white-space: normal;
}

.toggle-tab {
  display: inline-flex;
  background: #ffffff;
  border-radius: 999px;
  padding: 8px;
  gap: 8px;
}

.tab-button {
  border: none;
  background: transparent;
  padding: 8px 16px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #212121;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tab-button img {
  width: 16px;
  height: 16px;
}

.tab-button.active {
  background: #f0f3f7;
  border: 2px solid #e5e5e5;
  font-weight: 600;
}

.title-label {
  font-family: "Gord Qucik", sans-serif;
  font-size: 24px;
  color: #3a4e7a;
  display: inline-block;
  width: auto !important;
}

.text-content {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  padding: 24px;
  border-radius: 24px;
  border: 2px solid #ffffff60;
}

.summary-section {
  display: flex;
  flex-direction: column;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.point-label {
  font-weight: 600;
}

.time-label {
  font-weight: 600;
  color: #828282;
}

.description-point {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.education-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#about-content {
  width: 100%;
  max-width: 768px;
  padding: 0 40px;
  box-sizing: border-box;
}

.about-image {
  width: 100%;
  height: auto;
  display: block;
  border: none;
}

#toast {
  visibility: hidden;
  min-width: 120px;
  background-color: #212121;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

#toast.show {
  visibility: visible;
  opacity: 1;
}

/* === Responsive Styles === */
@media (max-width: 1024px) {
  .main-content {
    padding: 24px;
  }

  .work-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f0f0ef;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
  }
}

@media (max-width: 640px) {
  .main-content {
    padding: 16px;
  }

  .back-Button {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .share-Button {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .work-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f0f0ef;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
  }

  .tab-button {
    font-size: 12px;
  }

  .text-content {
    padding: 16px;
  }

  #about-content {
    width: 100%;
    max-width: 768px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  #toast {
    min-width: 75%;
  }
}
